/* @media screen and (max-width:600px) {
   ul{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;       
    }
    .main-img{
        display: none;
    }
} */