*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}

/* Header section */
nav{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 20px;
}
ul{
    display: flex;
    gap: 50px;
}
ul li{
    font-size: 3vmin;
    list-style: none;
    color: white;
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
}
.main-img{
    position: relative;
    bottom: 200px;
}
.logo-img{
    height: 50px;
}
.shop-btn{
    height: 50px;
}
.shop-btn button{
    background-color: rgb(35, 33, 33);
    padding: 10px 50px;
    color: rgb(245, 235, 235);
    border: 1px solid rgb(35, 33, 33);
    border-radius: 5px;
    font-size: 25px;
    font-weight: lighter;
}
.shop-btn button:hover{
    font-weight: 400;
    border: 1px solid white;
}

/* on-ear */
head{
    position: relative;
}
.on-ear{
    position: absolute;
    left: 700px;
    top: 200px;
}
.on-ear h2,h5,p,h6,h4{
    color: white;
}
.on-ear{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.on-ear-addbag{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(52, 49, 49);
    width: 250px;
    border-radius: 5px;
    padding: 15px 15px;
}
.on-ear-addbag h6{
    font-size: 15px;
    font-weight: 100;
}
.on-ear-addbag h4{
    font-size: 20px;
}


/* Brand Line */

.brand-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Spec */

.spec{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 100px;
    gap: 50px;
    /* flex-wrap: wrap; */
}

.left-spec{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Batte,.load{
    position: relative;
    right: 50px;
}
.right-spec img{
    max-width: 100%;
}